body {
    background-color: #FAF9DA;
}
.Welcome{
    text-align: center;
    font-family:'Germania One', cursive;
    letter-spacing: 2.5px

}
.info {
    -webkit-text-fill-color: chocolate;
    font-family: 'Indie Flower', cursive;
}
.info1 {
    -webkit-text-fill-color: darkcyan;
    font-family: 'Indie Flower', cursive;
}
.info2 {
    -webkit-text-fill-color: rgb(214, 39, 39);
    font-family: 'Indie Flower', cursive;
}
.Welcome {
    -webkit-text-fill-color: blue
}
.yellow {
    border: 0.1px solid;
    background-color: gold;
}
.white {
    -webkit-text-fill-color: white;
    font-family: 'Special Elite', cursive;
}
.yellow {
    text-align: center
}
.image {
    max-width: 350px;
    max-height: 200px;
}
.image1 {
    max-width: 1350px;
}