body {
    background-color: #FAF9DA;
}
.Welcome{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;

}
.info {
    -webkit-text-fill-color: chocolate
}
.info1 {
    -webkit-text-fill-color: darkcyan
}
.info2 {
    -webkit-text-fill-color: rgb(214, 39, 39)
}
.Welcome {
    -webkit-text-fill-color: blue
}
.yellow {
    background-color: gold
}
.white {
    -webkit-text-fill-color: white
}
.yellow {
    text-align: center
}
.image {
    max-width: 350px;
    max-height: 200px;
}
.image1 {
    max-width: 1250px;
}   